html,body {
    height:100%;  
    width: 100%;
}

#activityMenu {
    display: none;
}

#lessonContainer {
  display: none;
}

#leftBar {
    display: none;
}

#rightBar {
    display: none;
}

.screenModeButtons {
    display: none;
}

#iframeWrapperx {
    position:relative;
width:800px;
height:800px;
background-color:#dddddd;
border:solid 5px #202020; 
}

#iframeWrapper {

 position: fixed; 
  right: 0; 
  bottom: 0; 
  left: 0;
  top: 0;
 /* -webkit-overflow-scrolling: touch;
  overflow-y: scroll;*/
  width:800px;
height:800px;
background-color:#dddddd;
border:solid 5px #202020; 
}

#lessonFrame {
 
  top: 0px;
  left: 0px;
  height: 100%; 
  width:50px !important; 
  min-width: 100%;
  border:solid 1px #000000;
}