html,body
{
    
 background-color:#202020;
 background-image:url('../images/system/bkg1.png');
 margin:0;  
 padding:0;
  height:100%;  
   font-family:Verdana,Geneva, sans-serif; 
}

 a
{
    color:#97b247; 
    text-decoration:none;  
}

 a:hover
{
    color:#779227; 
    border-bottom:1px dotted #a7c257;
}



#lessonContainer
{
    position:absolute;
   background-color:#ffffff;
    border:4px solid #a7c257;
   padding:0px 0px 0px 0px;
    width:64%;
    height:92%;
    left:18%;
    right:18%;
    top:30px;;
    border-radius:10px;
    z-index:15;
}

.message{
	
	font-size:14px;
	font-family:verdana;
	margin-left:50px;
}

.fail
{
	color: #990000;
	
}

.success
{
	color: #669933;
}

.screenModeButtons{
	position:absolute;
	right:18%;
	top:5px;
	background-color:#e3e3e3;
	color:#000000;
	padding:3px;
	border-radius:5px;
	z-index:2147483637;
	
  font-size:11px;
  
}

.screenModeButtons:hover {
	background-color:#a7c257;
	color:#333333;
	cursor:pointer;
}


#lessonframe
{
       background-color:#c0c0c0;
      
}


#loading
{
 position:absolute;
 text-align:center;
 width:500px;
 height:250px;
 left:50%;
 top:30%;
 margin-left:-250px;   
    
}

#leftBar
{
    position:absolute;
 width:10px;
 height:100%;
    background-color:#336699;  
      border-right:3px solid #114477;
      z-index:1;
  /* border-right:1px solid #a7c257; */
}

#activityMenu
{
 
 position:absolute;
 left:10px;
 top:30px;
 width:12%;
 min-height:50%;   
 border-top-right-radius:10px;
 border-bottom-right-radius:10px;   
 background-color:#336699;
  padding:1%;  
  color:#eeeeee; 
  border-right:3px solid #114477;
   border-top:3px solid #114477;
    border-bottom:3px solid #114477;
     z-index:10;
}


#friendsMenu
{
 
 position:absolute;
 right:10px;
 top:30px;
 width:12%;
 min-height:70%;   
 border-top-left-radius:10px;
 border-bottom-left-radius:10px;   
 background-color:#336699;
  padding:1% 5px 1% 10px;  
  color:#eeeeee; 
  border-left:3px solid #114477;
   border-top:3px solid #114477;
    border-bottom:3px solid #114477;
     z-index:10;
}

#rightBar
{
    position:absolute;
    right:0px;
 width:10px;
 height:100%;
    background-color:#336699;  
   border-left:3px solid #114477;
}

.menuTitle  {
  
   font-size:18px;
      color:#eeeeee;
       text-align:center;
       margin-top:5px;
       margin-bottom:4px;
  }
  
  .divider
  {
   height:5px;
   margin-bottom:3px;
   border-bottom:1px dotted #ffffff;   
      
  }
  
  .subtitle
  {
   font-size:12px;  
   margin-bottom:2px; 
   margin-top:5px;
   clear:both;
  }
  
  .subtitle.bold{
  font-weight:bold;
  }
  
  .icon
  {
  border:none;  
  max-width:75%;  
  }
  
  #closeWindow
  {
      position:absolute;
      width:80%;
      font-size:11px;
   bottom:3px;   
   text-align:center;
  }
  
  
  .screenModeButtons-old{
  
  position:absolute;
  top:5px;
  right:5px;
  font-size:11px;
  color:#666666;
  }
  
  
  .sendTo{
  width: 97%;
  padding-top: 5px;
  }
  
 select{
 width:100%;
  }
  
  .fw-button{
  
  border-radius:5px;
  border:none;
  background-color:#d0d0d0;
  float:right;
  }
  
  .messageWrapper{
  
  height:400px;
  overflow-y:scroll;
  
  }
  
  .messages{
  font-size:12px;
  
  }
  
  .mssg-user{
  font-size: 11px;
  margin-top:2px;
  margin-bottom:7px;
  border-bottom:dotted 1px #bbbbbb;
  padding-bottom:3px;
  padding-right:3px;
  }
  
   .mssg-text{
  font-size: 13px;
  }
  
  @media all and (max-height: 800px) 
  {
   .menuTitle{
   font-size:15px;
   
   }
   
   .subtitle{
     font-size:10px;
   }
   
    .messages{
  font-size:10px;
  
  }
  
  .mssg-user{
  font-size: 10px;
  
  }
  
   .mssg-text{
  font-size: 11px;
  }
   
  }
  
  
  .overlayFull{
position:absolute;
      background-color:#f4f4f4;
      padding:25px;
      z-index:2147483630;

  }

   

  .btnCancel{

      position:absolute;
       z-index:2147483631;
       right:10px;
       top:10px;

  }

  .btnCancel:hover{

      cursor:pointer;
  }