html,body
{
    
 background-color:#ffffff;
 background-image:url('../images/system/bkg1.png');
 margin:0;  
  height:100%;  
   font-family:Verdana,Geneva, sans-serif; 
}

 a
{
    color:#97b247; 
    text-decoration:none;  
}

 a:hover
{
    color:#779227; 
    border-bottom:1px dotted #a7c257;
}

#wrapper
{ 
 width:1000px;
 background-color:White;
 margin-left:auto;
 margin-right:auto;   
min-height:100%;
}


#footer
{
     clear:both;
    width:1000px;
    text-align:center;
    margin-left:auto;
 margin-right:auto;   
 font-size:11px;
 color:#656565;
 margin-top:30px;
 padding-bottom:30px;
}

#header
{
 width:1000px;
 text-align:center;   
padding:20px; 
margin-bottom:20px;   
}

.logo.left
{
 float:left;   
    margin-left:10px;
    margin-top:5px;
}

.logo.right
{
 float:right;   
    margin-right:40px;
    margin-top:5px;
}

.logo.right img
{
    height:60px;
}
    
.logo.left img
{
    height:70px;
}


#titles
{
margin-bottom:15px;     
 margin-top:10px;
 margin-left:30px;
 text-align:left;
 color:#770077;
 font-size:20px;


 font-weight:bold;   
}

#personalinfo
{
 float:right;
 width:225px;
 padding:20px; 
 height:50px;
 background-color:#f9f9f9; 
 font-size:11px;
 color:#656565; 
}

#maincontent
{
 clear:both;   
}





#centercolumn
{
      
    margin:15px 0 15px 0;
   /* overflow:hidden;*/
}




.sectionsingle
{
margin-bottom:20px;   
    
}

 .sl-title
{
    
 background-image:url('../images/system/green-border.png');
 background-repeat:repeat-x;
 min-height:26px; 
 color:#ffffff;
 padding-top:3px;
 font-size:17px;


}

.sl-toc
{
   
 float:right;
    
 margin-right:20px;
 margin-bottom:15px;
 font-size:13px;
 padding-top:10px;
 z-index:999999;
 
}

.sectionright .sl-title
{
   
   text-align:left;
   padding-left:20px; 
  
}

.iframecontent
{
   

 width:97%;   
}



.iframelesson
{
     
 width:100%;  
height:95%;
 
}

.iframereview
{
     
 width:100%;  

 height:650px; 
}


.iframetest
{
     
 width:100%;  

}



.interactivecontent
{

/*height:500px;*/

/* overflow:hidden;
height:95%;
   background-color:#cccccc;*/

}

#tabstrip
{
 border:none; 
 padding-bottom:20px;
 padding-top:20px;  
}

#mediaTitle
{

 text-align:left;
  font-size:20px;
 color:  #656565; 
 padding:0px 0px 10px 10px; 
    
}

.videoContent
{
    clear:both;
padding:30px 30px 30px 10px;  
text-align:center;
margin-left:auto;
margin-right:auto;
}

.scrollcontent
{
    margin-top:0px;
  
  padding-bottom:20px;
 
}


.nextprev
{
  margin-top:20px;
  border-top:dotted 1px #c0c0c0;    
}

.nextquestion
{
float:right;
 font-weight:bold;   
 padding:10px;
 text-align:right;
 margin-right:10px;
 margin-bottom:15px;
}

.prevquestion
{
float:left;
    font-weight:bold;   
 padding:10px;
 text-align:left;
 margin-left:10px;
 margin-bottom:15px;
}


.questions
{
 margin-top:10px;
 margin-left:25px;
    
}

.question
{
 font-weight:bold;
 font-size:1.2em;
 margin-bottom:10px;   
    
}

/*.sr-content */
#lessonContent
{
  
     min-height:200px;
  margin-left:30px; 
  margin-right:30px;
 margin-bottom:20px;
 margin-top:30px;
 padding-left:5px;
  padding-right:5px;
  padding-bottom:25px;

}

.sr-content.tall
{
    
   height:700px; 
}


.sr-content.short
{
    
   
}


.sl-content
{
 width:197px;
 border:solid 1px #dddddd;
 border-top:none;
 margin-left:7px; 
 margin-bottom:10px;
 box-shadow: -4px 4px 7px #cccccc;   
}

.sl-content .subtitle
{
   font-size:17px;
   text-align:center; 
   padding-top:10px;
}



.sl-content ul
{
    padding-top:10px;
 margin-top:0px; 
}

.sl-content li
{
  list-style-type:square;
  font-size:11px; 
  margin-left:-5px;  
  line-height:17px;
}


.viewall
{
     font-size:13px; 
   text-align:center;
   margin-bottom:15px;
}

.viewall a
{
    color:#97b247; 
    text-decoration:none;  
}

.viewall a:hover
{
    color:#779227; 
    border-bottom:1px dotted #a7c257;
}

.searchbox
{
 padding:15px 5px 5px 20px;   
    
}





.lessontitle
{
 font-size:20px;
 color:  #656565; 
 padding:5px 0px 0px 10px;
}

.lessonactions
{
    
 float:left;
 width:475px;   
 padding-bottom:15px;
}

.actionlinks 
{
    color:#97b247;
    font-size:22px;
    margin:5px 0px 20px 10px;
}

.actionlinks a
{
    color:#97b247; 
    text-decoration:none;
    
}

.actionlinks a:hover
{
    color:#779227; 
    border-bottom:1px dotted #a7c257;
}

.lessoninfo
{
  float:left;
  width:160px;  
   box-shadow: -5px 5px 3px #eeeeee; 
   color:#505050;
   font-size:10px;  
}

.lessonmetainfo
{
  float:left;
  width:180px;  
     color:#909090;
   font-size:12px; 
 /*  border:solid 1px #dfdfdf; */
   padding:20px 10px 20px 10px;
    line-height:18px;
    margin-bottom:15px;
    margin-right:15px;
    background-color:#f2f2f2;
}

.lessondescrip
{
    float:left;
    margin-left:20px;
    font-size:14px;
    width:275px;
    padding-left:10px;
    border-left:dotted 1px #cccccc;
}

.lessonstats
{
    
  float:left;  
  margin-left:10px;
  font-size:11px;
  width:130px;
  line-height:15px;
}

.lessonreview
{
    clear:both;
    margin-top:20px;
    margin-left:10px;
    padding:10px;
    margin-right:15px;
}




.reviewtitle
{
   font-size:22px;
 color:  #656565;
 margin-bottom:10px;  
}

.inputtextbox
{
 width:400px;
 height:60px;   
    
}

.recommendations
{
  clear:both;
   margin:20px 20px 20px 20px;
   background-color:#f2f2f2;
  padding:12px;  
    
}


.reclessons
{
   float:left;
   width:270px;
   margin-left:20px;
   
}

.recgames
{
     float:left;
      width:270px;
     margin-left:20px;
     border-left:dotted 1px #cccccc;
     padding-left:30px;
}

.rectitle
{
 font-size:15px;
 color:#656565;
 font-weight:bold;  
}


.reclist
{
    
    
}
.reclist ul
{
    padding-top:10px;
 margin-top:0px; 
}

.reclist li
{
  list-style-type:square;
  font-size:13px; 
  margin-left:-5px;  
}

.studygroupupdates
{
  margin:10px 10px 20px 10px;  
}


.sg-title
{
    float:left;
 height:35px;
  font-size:20px;
 color:  #656565; 
 padding:15px 0px 10px 10px;  
/* border:solid 1px #d0d0d0;
 border-top:none;
 width:auto;*/
}

.sg-interactivetitle
{
    float:left;
 min-height:35px;
  font-size:25px;
 color:  #656565; 
 padding:15px 0px 10px 10px;  
/* border:solid 1px #d0d0d0;
 border-top:none;
 width:auto;*/
}



.sg-item
{
   
 border-bottom:dotted 1px #404040;
 margin:15px 25px 15px 25px;
 padding-bottom:10px;  
 width:650px; 
}
.lessonreview.reviewlist .sg-item
{
   margin-left:0px; 
}

.sg-mssg
{
    font-size:12px;
    margin-bottom:7px;
}


.starrating, .avgrating
{
    
    float:left;
    margin-right:5px;
    margin-bottom:12px;
    font-size:14px;
}

.sg-user
{
    
    font-size: 11px;
     font-style:italic;
    
}

.lessonreview.reviewlist .sg-user
{
     margin-left:85px;
}





.star
{
 float:left;
 margin-right:3px;   
}


.lessonreview.reviewlist .starrating
{
 float:left;
 margin-right:5px;  
 width:80px; 
}

.lessonreview.reviewlist .star 
{
   float:right;
   
}

.lessonreview.reviewlist .star img
{
   height:12px;
   
}

.morereviews
{
    width:650px;
 text-align:right;   
 font-size:12px;   
}

.tt
{
 color:#353535;
 padding:10px;
    
    
}

.tt a
{
    color:#355535; 
    
}

.tt a:hover
{
    color:#ffffff; 
    border-bottom: dotted 1px #ffffff;
}

.tt .title
{
 font-size:12px;
 font-weight:bold;
 padding-bottom:5px;   
}

.gamelist
{
 float:left;
 padding:5px;
 margin-right:15px;   
 text-align:left;
 font-size:12px;
 line-height:17px;
}

.gamelistright
{
 float:left;
 padding:5px;
 margin-right:15px;  
  text-align:left; 
}

.gameblock{
	
	float:left;
	margin-top:20px;
	margin-left:50px;
	margin-bottom:30px;
}


.gameblock:hover{
	
cursor:pointer;	
}

.gameicon{
	

	
	text-align:center;
	margin-bottom:10px;
}

.gameicon img{
	padding:10px;
	border:solid 1px #336699;
	display:block;
	height:120px;
	display:block;
	text-align:center;
}



.gamelink
{
	font-size:22px;
	text-align:center;
}