html,body
{
    
 background-color:#202020;
 background-image:url('../images/system/bkg1.png');
 margin:0;  
  height:100%;  
   font-family:Verdana,Geneva, sans-serif; 
}

 a
{
    color:#97b247; 
    text-decoration:none;  
}

 a:hover
{
    color:#779227; 
    border-bottom:1px dotted #a7c257;
}



#lessonContainer
{
    position:absolute;
   background-color:#ffffff;
    border:4px solid #a7c257;
   padding:10px 4px 4px 4px;
    width:64%;
    height:92%;
    left:18%;
    right:18%;
    top:1%;
    border-radius:10px;
    z-index:10;
}

.message{
	
	font-size:14px;
	font-family:verdana;
	margin-left:50px;
}

.fail
{
	color: #990000;
	
}

.success
{
	color: #669933;
}

.screenModeButtons{
	background-color:#e3e3e3;
	color:#000000;
	padding:3px;
	border-radius:5px;
}

.screenModeButtons:hover {
	background-color:#a7c257;
	color:#333333;
	cursor:pointer;
}


#lessonframe
{
       background-color:#c0c0c0;
}


#loading
{
 position:absolute;
 text-align:center;
 width:500px;
 height:250px;
 left:50%;
 top:30%;
 margin-left:-250px;   
    
}

#leftBar
{
    position:absolute;
 width:10px;
 height:100%;
    background-color:#336699;  
      border-right:1px solid #a7c257;
      z-index:1;
  /* border-right:1px solid #a7c257; */
}

#activityMenu
{
 
 position:absolute;
 left:10px;
 top:30px;
 width:12%;
 height:50%;   
 border-top-right-radius:10px;
 border-bottom-right-radius:10px;   
 background-color:#336699;
  padding:1%;  
  color:#eeeeee; 
  border-right:1px solid #a7c257;
   border-top:1px solid #a7c257;
    border-bottom:1px solid #a7c257;
     z-index:10;
}

#rightBar
{
    position:absolute;
    right:0px;
 width:10px;
 height:100%;
    background-color:#336699;  
   border-left:1px solid #a7c257;
}

.menuTitle  {
  
   font-size:18px;
      color:#eeeeee;
       text-align:center;
       margin-top:5px;
  }
  
  .divider
  {
   height:5px;
   margin-bottom:3px;
   border-bottom:1px dotted #ffffff;   
      
  }
  
  .subtitle
  {
   font-size:12px;   
  }
  
  .icon
  {
  border:none;    
  }
  
  #closeWindow
  {
      position:absolute;
      width:80%;
      font-size:11px;
   bottom:3px;   
   text-align:center;
  }
  
  
  .screenModeButtons{
  
  position:absolute;
  top:5px;
  right:5px;
  font-size:11px;
  color:#666666;
  }
  
  @media all and (max-height: 900px) and (min-height: 600px)
  {
   
  }